.FormContainer {
	transition: all 0.5s ease-in-out;
	background-color: white;
	padding: 20px;
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 20px;
	border-radius: 4px;
}

.HeaderText {
	font-size: 1.25rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 10px;
}

.FormGroup {
	transition: opacity 0.4s ease, transform 0.4s ease;
	opacity: 1;
	display: flex;
	gap: 20px;
}

.FormGroup[hidden] {
	opacity: 0;
	transform: translateY(20px);
}

.footer {
	flex: 1;
	display: flex;
	align-self: center;
}

.input {
	margin: 0;
	height: auto;
	width: 400px;
	border-radius: 4px;
}

.SubmitButton,
.SubmitButton:hover {
	all: unset;
	padding: 10px 15px;
	width: fit-content;
	background-color: #02457a;
	cursor: pointer;
	border-radius: 4px;
	color: white;
}

.links {
	display: flex;
	justify-content: center;
	gap: 10px;
}