.FilterPopup .overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 50
}

.FilterPopup .main {
    background-color: white;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    width: 50rem;
    border-width: 1px;
    border-color: #cfcfcf;
}

.FilterPopup .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #cfcfcf;
}

.FilterPopup .headerName {
    font-weight: 600;
}

.FilterPopup .closeButton {
    color: #99a1af;
    cursor: pointer;
    border: none;
    background: none;
    transition: color 0.3s ease-in-out;
}

.FilterPopup .closeButton:hover {
    color: black;
}

.FilterPopup .closeIcon {
    width: 1rem;
    height: 1rem;
}

.FilterPopup .filterContent {
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.FilterPopup .filterTitle {
    font-weight: 600;

}

.FilterPopup .filterOptions {
    display: flex;
    flex-wrap: wrap;
    width: 25rem;
    gap: 0.5rem;
    padding-top: 0.5rem;
}

.FilterPopup .filterOption {
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 0.25rem;
    width: 5.5rem;
    height: 2.5rem;
    border: 1px solid #CFCFCF;
    background-color: rgb(236, 236, 236);
    transition: all 0.3s ease-in-out;
}

.FilterPopup .filterOption:hover {
    border-color: #02457a;
}

.FilterPopup .selected {
    background-color: #02457a;
    color: white;
    border-color: #02457a;
}