.Overview {
    /* flex flex-col gap-4 px-72 */
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.Overview h1 {
    /* font-semibold text-xl flex flex-1 justify-center mb-4 */
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    align-self: flex-start;
}

.Overview form {
    /* flex flex-col gap-4 */
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 5rem;
}

.Overview>form>div {
    /* flex flex-col gap-2 */
    display: flex;
    gap: 3rem;
}

.Overview .infoBlock {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
}

.Overview .avatarContainer {
    /* border-1 border-[rgb(2, 69, 122)] w-24 h-24 rounded-full flex items-center justify-center" */
    border: 2px solid rgb(2, 69, 122);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: relative;
}

.Overview .avatarContainer:hover {
    background-color: #ececec;
}

.Overview .avatar {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.Overview .title {
    font-weight: 500;
}

.Overview .inputField {
    /* border-1 border-[#e0e0e0] rounded-sm p-2 outline-0 */
    border: 1px solid #cfcfcf;
    border-radius: 0.25rem;
    padding: 0.5rem;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.Overview .inputField:focus {
    border-color: #02457a;
}

.Overview .genderContainer {
    /* flex flex-row gap-4 */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    align-items: center;
}

.Overview .buttonGroup {
    /* flex flex-row gap-4 */
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.Overview .confirmButton {
    /* border-2 rounded-sm transition-colors ease-in duration-200 border-[#02457a] hover: text-black
    text-white hover:bg-white bg-[#02457a] w-fit py-2 flex px-20 cursor-pointer font-medium */
    border-radius: 0.25rem;
    color: white;
    background-color: #02457a;
    padding: 0.75rem 0;
    width: 200px;
    display: flex;
    cursor: pointer;
    font-weight: 500;
    justify-content: center;
    border: none;
}

.Overview .removeAvatar {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #E2E5E9;
    display: grid;
    place-items: center;
}

.Overview .removeAvatar:hover {
    background-color: #d6d9dd;
}

.Overview .removeIcon {
    width: 20px;
    height: 20px;
}