.OptionSection {
    width: 100%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.OptionSection .title {
    font-weight: 500;
}

.OptionSection .options {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
}

@media (min-width: 640px) {
    .OptionSection .options {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (min-width: 768px) {
    .OptionSection .options {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1024px) {
    .OptionSection .options {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}

@media (min-width: 1280px) {
    .OptionSection .options {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
}