.backgroundContainer {
    width: 100%;
    background-repeat: no-repeat;
    background-color: #191C1F;
    background-position: center;
    background-size: cover;
}

.footercontainer {
    padding: 20px 0;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.footercontainer .infoContainer {
    display: flex;
    width: 100%;
    gap: 100px;
}

.footercontainer a {
    all: unset;
}

.footercontainer .info {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 10px;
}

.footercontainer .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    column-gap: 50px;
    flex: 1;
}

.footercontainer .grid>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footercontainer .flexColumn {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.footercontainer .titletext {
    opacity: 1;
    font-size: 18px;
    color: #77878F;
    padding: 0;
    margin: 0;
}

.footercontainer .contenttext {
    all: unset;
    padding: 0;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
}

.footercontainer .logoimg {
    width: 100%;
    height: auto;
}

.footercontainer .footericon {
    color: #FFFFFF;
    font-size: 24px
}

.footercontainer .iconcontainer {
    all: unset;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footercontainer .contenttext:hover {
    color: #018abe;
    font-weight: 700;
}

.footercontainer .stacontenttext {
    font-size: 16px;
    color: #FFFFFF;
}

.footercontainer .copyrightText {
    width: 100%;
    margin-top: 24px;
    color: white;
    opacity: 0.5;
}