/* Sale.module.css */
.cardTitle {
  font-size: 1.2rem;
  font-weight: bold;
}

.cardText {
  color: #555;
}
.saleImage {
  aspect-ratio: 1 / 1; /* Tỷ lệ khung hình 1:1 */
  object-fit: cover; /* Cắt ảnh cho vừa khung */
  width: 100%;
}
